@model ICollection<Ecommerce.Models.ProductVariants>
<style>
    .breadcrumb > li + li:before {
        content: ">";
    }

    .breadcrumb > .active {
        color: #000000;
    }
</style>
<ol class="breadcrumb">
    <li><a href="~/Product/_cardView">Home</a></li>
    <li><a href="~/Product/Index">Product</a></li>
    <li class="active"><a href="~/ProductVariants/Index">ProductVariants</a></li>

</ol>
<div class="row ">
    <a id="Add" href="/ProductVariants/create" class="btn btn-primary btn-row"><i class=" fa fa-plus-square"></i>  Create ProductVariants</a>
</div>
<div class="row">
    @* Add by Biplob*@
    @*<p>
            @using (Html.BeginForm("Index", "Stock", FormMethod.Get))
            {
                <b>Search By:</b>
                @Html.RadioButton("searchBy", "Name", true) <text>Name</text><a>&nbsp;</a>
                @Html.TextBox("search")<input type="submit" value="Search" />
            }

        </p>*@
    <table class="table table-striped table-responsive table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Name</th>
                <th>SizeId</th>

                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr class="text-center">
                    <td>@stock.Id</td>
                    <td>@stock.Color</td>
                    <td>@stock.Brand</td>
                    <td>@stock.Type</td>
                    <td>@stock.Name</td>
                    <td>@stock.SizeId</td>


                    <td>
                        <a asp-action="Edit" asp-route-id="@stock.Id" class="btn btn-success"><span><strong><i class="fa fa-edit"> Edit</i></strong></span></a>
                        <a asp-action="Delete" asp-route-id="@stock.Id" class="btn btn-danger" onclick="return confirm('Are you sure ,You want to delete ? ProductVariant : @stock.Name')" id="Delete"><span><i class="fa fa-trash-o"><strong> Delete</strong></i></span></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<p><h4><b class="text-danger">If You want to add a new Product Please Click Create Product Button.</b></h4></p>*@

</div>


