@model IEnumerable<Ecommerce.Models.Product>

@section Styles
    {
    <style type="text/css">
        .zoom-effect-container {
            float: right;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
        }

        .card img {
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
        }

        .zoom-effect-container:hover .card img {
            -webkit-transform: scale(1.20);
            transform: scale(1.20);
        }

        /*.container {
            width: 150px;
            height: 100px;
            background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }*/

        .main {
            border: hidden;
            height: 250px;
            width: 250px;
        }

        h3 {
            color: #0094ff;
        }

        .inner {
            overflow: hidden;
        }

            .inner img {
                transition: all 1.5s ease;
            }

            .inner:hover img {
                transform: scale(1.5);
            }

        .container {
            position: relative;
            width: 100%;
            border: none;
        }

        .image {
            opacity: 1;
            /*display: block;*/
            width: 100%;
            height: auto;
            transition: .5s ease;
            /*backface-visibility: hidden;*/
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%)
        }

        .container:hover .image {
            opacity: 0.3;
        }

        .container:hover .middle {
            opacity: 1;
        }

        .text {
            /*background-color: #4CAF50;*/
            color: white;
            font-size: 16px;
            /*padding: 16px 32px;*/
        }
    </style>

}
<style>
    .breadcrumb > li + li:before {
        content: ">";
    }

    .breadcrumb > .active {
        color: #000000;
    }
</style>
<ol class="breadcrumb">
    <li><a href="~/Product/_cardView">Home</a></li>
   

</ol>
<div class="row">
    <br />
    @foreach (var product in Model)
    {
        <br />
        <div class="col-md-3">
            <br />
            <div class="card container">
                <a asp-action="Details" asp-route-id="@product.Id" class="btn-link">

                    @if (product.ImagePath == null)
                    {
                        product.ImagePath = "uploads\\img\\NoImageAvailable.jfif";
                    }
                    <div class="zoom-effect-container">
                        <div class="card shadow">
                            <img class="image card-img-top" src="~/@product.ImagePath">
                        </div>
                    </div>



                    @*<div class="card-body">
                    @if (product.Stocks.Quantity > 0)
                    {
                        <p class="card-title">Available : Yes</p>
                    }
                    else
                    {
                        <p class="card-title">Available : No</p>
                    }
                    <p class="card-text">Actual Price: ৳ @product.Price</p>
                    @if (product.DiscountPercent == null)
                    {
                        <p class="card-text">Discount Percent: 0      %</p>
                    }
                    else
                    {
                        <p class="card-text">Discount Percent:@product.DiscountPercent %</p>
                    }
                </div>*@
                </a>
                <div class="card-body">
                    <h5 class="card-subtitle">Name : @product.Name</h5>
                    <p class="card-subtitle">Product Code:  @product.ProductCode</p>
                    <p class="card-subtitle">Category:  @product.Category.Name</p>
                    <p class="card-subtitle">Price: ৳ @product.DiscountPrice</p>
                    @if (product.Stocks.Quantity > 0)
                    {
                        <p class="card-subtitle">Available : Yes</p>
                    }
                    else
                    {
                        <p class="card-subtitle">Available : No</p>
                    }
                    <p class="card-subtitle">Actual Price: ৳ @product.Price</p>
                    @if (product.DiscountPercent == null)
                    {
                        <p class="card-subtitle">Discount: 0%</p>
                    }
                    else
                    {
                        <p class="card-subtitle">Discount:@product.DiscountPercent%</p>
                    }

                    @*<a asp-controller="product" asp-action="details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>*@
                    @if (product.Stocks.Quantity > 0)
                    {

                        <br />
                        <div class="middle">
                            <a asp-controller="cart" asp-action="buy" asp-route-id="@product.Id" class="btn" style="width:270px; background-color:#ff6600; color: #fff;">Add To Cart</a>

                        </div>
                    }
                </div>
            </div>
            <br />
        </div>
        <br />
    }
</div>
