@model Ecommerce.Abstractions.Helper.Item
<title>Product Detail</title>
@section Styles
    {

  
}
<body >


    <div class="row">
        <div class="col-md-6 col-lg-7 p-b-30">
            <div class="p-l-25 p-r-30 p-lr-0-lg">
                <div class="wrap-slick3 flex-sb flex-w">

                    <div class="slick3 gallery-lb slick-initialized slick-slider slick-dotted">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 1086px;">
                                <div class="item-slick3 slick-slide slick-current slick-active" data-thumb="~/@Model.product.ImagePath" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="width: 362px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                    <div class="wrap-pic-w pos-relative">
                                        <img src="~/@Model.product.ImagePath" alt="IMG-PRODUCT">

                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="~/@Model.product.ImagePath" tabindex="0">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-5 p-b-30">
            <div class="p-r-50 p-t-5 p-lr-0-lg">
                <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                    @Model.product.Name
                </h4>

                <span class="mtext-106 cl2">
                    @Model.product.Price ৳
                </span>

                <span class="mtext-106 cl2">
                    @Model.product.ProductCode ৳
                </span>

                <p class="stext-102 cl3 p-t-23">
                    @Model.product.Description
                </p>
                <div class="flex-w flex-r-m p-b-10">
                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                            <i class="fs-16 zmdi zmdi-minus"></i>
                        </div>
                        <input class="mtext-104 cl3 txt-center num-product" type="number" asp-for="Quantity" name="Quantity" value="1">
                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                            <i class="fs-16 zmdi zmdi-plus"></i>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <a asp-controller="cart" asp-action="buy" asp-route-id="@Model.product.Id" class="btn btn-primary">
                                Add to cart
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item p-b-10">
            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
        </li>

        <li class="nav-item p-b-10">
            <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
        </li>

        <li class="nav-item p-b-10">
            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
        </li>
    </ul>



</body>
