@model Ecommerce.Abstractions.Helper.Item
@inject Ecommerce.Abstractions.Helper.GetUserService user
<title>Product Detail</title>
@section Styles
    {


}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous" />
<script src="https://kit.fontawesome.com/b6227ed7cf.js" crossorigin="anonymous"></script>
<body>

    <form method="post">


        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">

                        <div class="slick3 gallery-lb slick-initialized slick-slider slick-dotted">
                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 1086px;">
                                    <div class="item-slick3 slick-slide slick-current slick-active" data-thumb="~/@Model.product.ImagePath" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="width: 362px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="~/@Model.product.ImagePath" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="~/@Model.product.ImagePath" tabindex="0">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.product.Name
                    </h4>

                    <span class="mtext-106 cl2">
                        @Model.product.Price ৳
                    </span>

                    <span class="mtext-106 cl2">
                        @Model.product.ProductCode ৳
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        @Model.product.Description
                    </p>
                    
                    <form method="post">
                        <div class="flex-w flex-r-m p-b-10">

                            <input type="hidden" asp-for="product" name="product" id="Product" value=@Model.product />
                            <input type="hidden" name="productId" id="productId" value=@Model.product.Id />
                            <input type="hidden" asp-for="user" name="user" id="user" value=@User.Identity.Name />
                            <input type="hidden" asp-for="ProductCategoryName" name="ProductCategoryName" id="ProductCategoryName" value="@Model.ProductCategoryName"/>

                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                </div>

                                <input class="mtext-104 cl3 txt-center num-product" type="number" asp-for="Quantity" name="Quantity" value="1">
                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                </div>


                            </div>
                            <div class="col-12">
                                @if (Model.product.Stocks.Quantity > 0)
                                {

                                    <br />
                                    <div class="middle">
                                        <a asp-controller="cart" asp-action="buy" asp-route-id="@Model.product.Id" class="btn" style="width:270px; background-color:#ff6600; color: #fff;">Add To Cart</a>

                                    </div>
                                }

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Description">Description </a></li>
        <li class="tab"><a data-toggle="tab" href="#Review">Review</a></li>
        <li><a data-toggle="tab" href="#Comments">Comments</a></li>
        <li><a data-toggle="tab" href="#AdditionalInformation">Additional Information</a></li>

    </ul>

    <div class="tab-content">
        <div id="Description" class="tab-pane fade in active">
            <h3>Description</h3>
            <p>@Model.product.Description</p>
        </div>
        <div id="Review" class="tab-pane fade">
            <h3>Review</h3>
            <form method="post" id="commentForm">
                <input type="hidden" name="ProductId" asp-for="@Model.product.Id" />
                <input type="hidden" name="AspNetUserId" />
                <div class="form-group">
                    <label>Write Your Comment</label>
                    <span class="text-warning float-right">
                        <i class="ratingStar far fa-star" data-value="1"></i>
                        <i class="ratingStar far fa-star" data-value="2"></i>
                        <i class="ratingStar far fa-star" data-value="3"></i>
                        <i class="ratingStar far fa-star" data-value="4"></i>
                        <i class="ratingStar far fa-star" data-value="5"></i>
                    </span>
                    <input type="hidden" name="Rating" id="ratingsValue" />
                    <textarea class="form-control" rows="3" name="Comments" placeholder="Write Your Comment Here"></textarea>

                </div>
                <button class="btn btn-success" id="btnComment" asp-action="LeaveComment" asp-controller="Comments" type="submit">Leave Your Comment</button>
            </form>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="Comments" class="tab-pane fade">
            <h3>All Comments </h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="AdditionalInformation" class="tab-pane fade">
            <h3>Additional Information</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>

    <script>
        $(".ratingStar").hover(function () {

            $(".ratingStar").addClass("far").removeClass("fas");
            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });

    </script>
    <script>
        $(".ratingStar").click(function () {
            debugger;
            var starValue = $(this).attr("data-value");
            $("#ratingsValue").val(starValue);
        });
    </script>
    <script>
        $("#btnComment").click(function () {
            debugger;
                $.ajax({
                    url: '@Url.Action("LeaveComment","Comments",true)',
                    type: "post",
                    data: $("#commentForm").serialize ,
                    value: $("#commentForm").serialize
                }).done(function (response) {
                    if (response.Success) {
                        window.location.reload();
                    }

                else {
                        swal("Error!",response.Message,"error");
                     }

                }).fail(function () {
                    swal("Error!", "Error Occured Plz Try Again Later.", "error");
            });
    </script>
</body>
