@model Ecommerce.Models.RazorViewModels.Product.ProductVM



<h2>Edit  Product</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyCost" class="control-label"></label>
                <input asp-for="BuyCost" class="form-control" />
                <span asp-validation-for="BuyCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label>
                <input type="date" asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div>
                @if (Model.Image != null && Model.ImagePath == null)
                {
                    <img class="preview" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" width="150">
                }
                else
                {
                    <img class="preview" src="~/@Model.ImagePath" width="150">
                }
            </div>
            <div class="form-group">

                <input type="file" asp-for="Image" accept="image/png , image/jpg" id="profile-img" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <div>
                    @*<img class="preview" src="~/@Model.ImagePath" width="150" id="profile-img-tag"/>*@
                    <img class="preview" src="" width="150" id="profile-img-tag" />
                </div>
                <script type="text/javascript">
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('#profile-img-tag').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                    $("#profile-img").change(function () {
                        readURL(this);
                    });
                </script>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </label>

                    <input asp-for="IsActive" />


                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <input asp-for="CategoryId" class="form-control" />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="CategoryId" class="col-md-12">Category</label>@*Dropdown List Binding*@

                <select asp-for="CategoryId" asp-items="@ViewBag.SelectList" class="form-control col-md-12"> </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="col-md-12">Parent Name</label>

                <select asp-for="ParentId" class="form-control col-md-12" asp-items="ViewBag.SelectList1"></select>
                <span asp-validation-for="ParentId" class="text-danger"></span>

            </div>
            @*<div class="form-group">
                    <label asp-for="Stocks" class="col-md-12">Stocks</label>

                    <select asp-for="Stocks" asp-items="@ViewBag.StockSelectList" class="form-control col-md-12"> </select>
                    <span asp-validation-for="Stocks" class="text-danger"></span>

                </div>*@
            <div class="form-group">
                <label asp-for="ProductVariantsId" class="col-md-12">ProductVariants</label>

                <select asp-for="ProductVariantsId" asp-items="@ViewBag.ProductVariantsSelectList" class="form-control col-md-12"> </select>
                <span asp-validation-for="ProductVariantsId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ProductVariants.SizeId" class="col-md-12"> Size Of ProductVariants</label>

                <select asp-for="ProductVariants.SizeId" asp-items="@ViewBag.SizeSelectList" class="form-control col-md-12"> </select>
                <span asp-validation-for="ProductVariants.SizeId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ProductVariants.Name" class="col-md-12">Product Variants Name</label>
                <input asp-for="ProductVariants.Name" class="col-md-12" />
            </div>
            <div class="form-group">
                <label asp-for="ProductVariants.Brand" class="col-md-12">Product Variants Brand</label>
                <input asp-for="ProductVariants.Brand" class="col-md-12" />
            </div>
            <div class="form-group">
                <label asp-for="ProductVariants.Color" class="col-md-12">Product Variants Color</label>
                <input asp-for="ProductVariants.Color" class="col-md-12" />
            </div>
            <div class="form-group">
                <label asp-for="ProductVariants.Type" class="col-md-12">Product Variants Type</label>
                <input asp-for="ProductVariants.Type" class="col-md-12" />
            </div>

            <div class="form-group">
                <label asp-for="ProductVariants.Size.Code" class="col-md-12">Product Variants Size Code</label>
                <input asp-for="ProductVariants.Size.Code" class="col-md-12" />
            </div>
            <div class="form-group">
                <label asp-for="ProductVariants.Size.Name" class="col-md-12">Product Variants Size Name</label>
                <input asp-for="ProductVariants.Size.Name" class="col-md-12" />
            </div>
            <div class="form-group">
                <label asp-for="Stocks.Quantity" class="col-md-12">Stocks Quantity</label>
                <input asp-for="Stocks.Quantity" class="col-md-12" />
            </div>
            <div class="form-group">
                <label asp-for="Stocks.Unit" class="col-md-12">Stocks Unit</label>
                <input asp-for="Stocks.Unit" class="col-md-12" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
 {
    @*<script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}


